<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sist. de Estacionamento</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
  
    <div id="container">
      <h1>Página inicial do Sistema Estacionamento.</h1>
      <p>O Sistema de Estacionamentos foi criado para gerenciar a entrada,
        saída e pagamento dos usuários do estacionamento</p>
      <ion-img src="assets/imgs/iconeEst_png.png" alt="Logo inicial"></ion-img>
  
    </div>
  </ion-content>

  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-title>Dev by @ebertonsm</ion-title>
    </ion-toolbar>
  </ion-footer>
