ion-list-header{
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-menu ion-note {
  margin-bottom: 30px;
  padding-left: 20px;
}

ion-menu ion-list {
  padding-top: 10px;
}

ion-menu-toggle ion-item ion-label {
  padding-top: 10px;
  padding-left: 10px;
  color: #000000;
  font-size: 25px;
  background-color: rgb(212, 232, 243);
  font-weight: bold;
  border: 2px solid #a3a3b3 ;
  height: 50px;
  border-radius: 10px;
}